@import url(https://fonts.googleapis.com/css2?family=Fira+Code:wght@100;200;300;400;500;600;700&display=swap);

:root {
    --main-color: #ffffffe3;
    --secondary-color: #006eff;
}

* {
    font-family: "Fira Code", monospace;

    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: var(--secondary-color);
    position: fixed;
    top: 0;
    width: 100%;
    padding-bottom: 1em;
}

nav {
    margin-top: 8.25em;
}

button {
    border-style:none;
    border-radius: 0.5em;
    background-color: #006eff34;
    color: #006eff;

}