body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

#wrapper {
  display: grid;
  grid-template-areas:
    "head head"
    "nav main"
    "nav foot";
  grid-template-rows: 2fr 15fr 1fr;
  grid-template-columns: 1fr 4fr;
}
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  top: 0;
  left: 0;
  background-color: #37ca80;
  color: aliceblue;
  grid-area: head;
}
header button {
  background-color: rgba(255, 255, 255, 0.26);
  color: #fff;
  font-size: larger;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(155, 155, 155);
  grid-area: nav;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-around;
  grid-area: main;
}

.obj {
  border-style: solid;
  border-radius: 0.5em;
  border-width: 0.1em;
  width: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}
.note-management {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  background-color: #37ca812f;
  color: #37ca81;
  border-radius: 0.5em;
  border-style: none;
  font-size: small;
  padding-top: 0.1em;
  margin: 0.25em;
}
.date {
  font-size: small;
}
footer {
  grid-area: foot;
}
